.container {
  background: #040309;
}

.glow {
  color: #fff;
}

.track .container {
  padding: 20px;
}

.track-title {
  text-align: center;
  margin-bottom: 100px;
  font-family: "Bios";
  font-size: 65px;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 800;
  text-decoration-color: 2px solid #deb7f5;
  text-shadow: 0px 0px 50px #b741ff;
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 4rem;
  margin-bottom: -200px;
}

.track-img {
  height: 10rem;
  width: 10rem;
  position: relative;
  bottom: 4rem;
  left: -0.5rem;
}

.frame-img {
  position: absolute;
  width: 350px;
  top: -190px;
  left: -20px;
}

.item-title {
  min-height: 65px;
  min-width: 150px;
  margin-top: 10rem;
}

.tracks-title {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgba(216, 152, 255, 1);
  text-shadow: 0px 0px 24px #fff;
}

.track-content {
  font-size: 15px;
  margin-bottom: 120px;
}
@media screen and (min-device-width: 710px) {
  .track-img {
    left: 0.5rem;
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 710px) {
  .track-title {
    margin-bottom: 70px;
  }

  .tracks {
    padding-top: 40px;
  }

  .track-img {
    height: 8rem;
    width: 8rem;
    position: relative;
    bottom: 17rem;
    right: 8rem;
    left: 1rem;
  }

  .frame-img {
    position: static;
    width: 350px;
    margin: 2rem 5rem;
  }

  .item-title {
    min-height: 0px;
  }
  .parent {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: -270px;
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 550px) {
  .track .container {
    padding: 20px;
  }

  .tracks-title {
    font-size: 24px;
  }
  .item-title {
    margin-top: 50px;
  }

  .track-img {
    height: 8rem;
    width: 8rem;
    position: relative;
    bottom: -1rem;
    border: 1px solid #000000;
  }

  .frame-img {
    position: static;
    width: 350px;
    left: -2rem;
    border: 1px solid #000000;
  }
  .parent {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
  }
}
