.container {
  background: #040309;
}

.glow {
  color: #fff;
}

.track .container {
  padding: 20px;
}

.track-title {
  text-align: center;
  font-size: 65px;
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: 130px;
  margin-top: 100px;
  font-weight: 800;
  text-decoration-color: 2px solid #deb7f5;
  text-shadow: 0px 0px 50px #b741ff;
}

.tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.track-img {
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.frame-img {
  position: absolute;
  width: 350px;
  top: -170px;
  left: 35px;
  border: 1px solid #000000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item-title {
  min-height: 65px;
  min-width: 150px;
  margin-top: 200px;
}

.tracks-title {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgba(216, 152, 255, 1);
}

.track-content {
  font-size: 1.1rem;
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .track-title {
    margin-bottom: 70px;
  }

  .tracks {
    padding-top: 40px;
  }

  .track-img {
    margin: 15px 0;
  }

  .item-title {
    min-height: 0px;
  }
}

@media (max-width: 360px) {
  .track .container {
    padding: 30px;
  }

  .tracks-title {
    font-size: 24px;
  }
  .item-title {
    margin-top: 50px;
  }
}
