.myStyle{
  background: url('../../assets/overlay.png');
  font-size:'50px';
  height: "100%";
  background-size: "cover";
  background-repeat: no-repeat
  
}

.speaker_div {
  background-color: #000;
}

.speaker {
  padding: 10px 35px;
}

.speakers * {
  color: white !important;
}

.speakers {
  max-width: 420px;
  margin: 0 auto;
  transition: transform 0.2s ease;
}

.speaker-img {
  transition: background-color 0.2s ease;
  height: 250px;

  padding: 10px;
  width: auto;
}

.speaker img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.speakers:hover {
  transform: scale(1.1);
}

.speaker-img img {
  height: 100%;
  left: -17.27%;
  right: -3.94%;
  top: -3.59%;
  bottom: 29.61%;
}

.speaker_div .container {
  padding: 80px;
}

.speaker-title {
  text-align: center;
  font-size: 35px;
  color: white;
  margin-bottom: 60px;
  font-weight: 800;
}
.speakers {
  min-width: 200px;
}
.speaker-details {
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speaker a:hover {
  color: white;
}

.speaker-name {
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none !important;
  padding-bottom: 5px;
  color: white;
}
.speaker-desg {
  font-size: 11.5pt;
  text-align: center;
  color: #8c8c8c !important;
}

.speaker-company {
  font-size: 12pt;
}
.speaker-topic {
  font-size: 14pt;
  text-align: center;
  color: black;
  font-weight: 700;
}

.col-12 {
  padding: 0 3rem;
}

.bcomspeaker-btn {
  border: 1px dashed rgba(0, 255, 0, 0.95);
  padding: 15px 30px;
  text-align: center;
  font-size: 24px;
}

a.bcomspeaker-btn:hover {
  background-color: rgba(0, 255, 0, 0.95);
  color: #000;
  font-weight: 600;
}

@media (width: 1024px) and (min-height: 1366px) {
  .speaker-items .col-lg-4 {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: unset !important;
  }

  .speaker {
    padding: 0px;
  }

  .speaker-img {
    height: 265px;
  }
}

@media (max-width: 360px) {
  .speaker_div .container {
    padding: 40px;
  }
  .speaker-img {
    height: 200px;
  }
}
