.about .container {
  border-top: 2px solid #ffb7fe(0, 255, 0, 0.2);
  padding: 80px;
}

.about-title {
  text-align: center;
  font-size: 35px;
  font-family: "Bios";
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 12px #b741ff;
  margin-bottom: 30px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.about-hack {
  font-family: inherit;
  font-size: 35px;
  color: #b741ff;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.95);
}

.about-trix {
  font-family: inherit;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 12px #b741ff;
}

.about-img {
  width: 20%;
  margin-right: -90px;
  position: relative;
  top: -10px;
  left: -40px;
  display: flex;
}

.about-img img {
  width: 100%;
}

.about-content {
  text-align: center;
  font-size: 16px;
}

p {
  font-family: "Bios";
  font-size: 13px;
  text-shadow: 0px 0px 12px #b741ff;
}

.about-content span {
  font-size: 16px;
}

@media (max-width: 768px) {
  .about-title {
    flex-direction: column;
  }

  .about .container {
    padding: 40px;
  }

  .about-img {
    width: 30%;
    position: relative;
    top: 0px;
    margin-left: 0px;
    display: flex;
  }

  .about-img {
    width: 50%;
    top: 0px;
    margin-bottom: -50px;
    margin-top: -50px;

    left: 0px;
  }

  .about-content {
    text-align: center;
    font-family: "Bios";
  }

  .about-bullet {
    font-family: inherit;
    font-size: 35px;
    color: #b741ff;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.95);
  }
}

@media (max-width: 360px) {
  .about .container {
    padding: 30px;
  }
  .about-title {
    font-size: 15px;
  }
  .about-img {
    width: 70%;
  }
  .about-content {
    font-size: 12px;
  }
}
