::-webkit-scrollbar {
  width: 4px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #b741ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b741ff;
  border-radius: 10px;
}
